<!DOCTYPE html>
<html>
	<title>Architect</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
	<link href="https://fonts.googleapis.com/css?family=Karla|Yeseva+One" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />
	<body>
		<div :class="['container', isSelected ? 'container-selected':'', isReady ? 'container-ready':'']" id="app">
			<div class="team-container">
				<div class="header">
					<h2 class="header-title">Our Team</h2>
				</div>
				<div class="person-list">
					<div class="person" v-for="(person,index) in persons" @click="selectPerson(index,$event)">
						<img class="person-img" :src="person.photo" />
						<div class="person-details">
							<h2 class="person-title">{{person.name}}</h2>
							<p class="person-desc">{{person.title}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="team-detail">
				<div class="team-detail-inner" v-if="isOk">
					<div class="team-detail-left" :style="`background-image:url(${selectedPersonData.photo})`">
						<div class="team-detail-photo"><img :src="selectedPersonData.photo" alt="" /></div>
					</div>
					<div class="team-detail-right">
						<div class="team-detail-bio">
							<div class="team-detail-header">
								<h2 class="person-title">{{selectedPersonData.name}}</h2>
								<p class="person-desc">{{selectedPersonData.title}}</p>
								<div class="social">
									<a
										:href="selectedPersonData.social.facebook"
										target="_blank"
										class="ion-social-facebook"
									></a>
									<a
										:href="selectedPersonData.social.twitter"
										target="_blank"
										class="ion-social-twitter"
									></a>
									<a
										href="selectedPersonData.social.linkedin"
										target="_blank"
										class="ion-social-linkedin"
									></a>
								</div>
							</div>
							<div class="team-detail-bio-content" v-html="selectedPersonData.bio"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.2.1/vue-resource.min.js"></script>
	</body>
</html>
