html {
	box-sizing: border-box;
}
body{
	margin: 0;
}
html, body {
	line-height: 3.0 !important;
}
#logo-header {
	height: 50px;
	width: 100px;
}
.nav-top {
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
}

.nav-padding {
	padding: 8px 16px 8px 8px!important;
}
#logo {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
#logo:hover {
	color: #000 !important;
	background-color: purple !important;
}