html {
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.15;
}
body{
	margin: 0;
}
#logo-header {
	height: 50px;
	width: 100px;
}
.nav-top {
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
	line-height: 3.0 !important;
	padding-bottom: 20px;
}

.nav-padding {
	padding: 8px 16px 8px 8px!important;
}
#logo {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}
#logo:hover {
	color: #000 !important;
	background-color: purple !important;
}

.bgimg-1 {
	background-image: url('/w3images/parallax1.jpg');
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.bg-purp {
	background-image: url('https://foureyes-web.s3.us-east-2.amazonaws.com/assets/img/laptop-stock-purple.png');
	opacity: 90%;
}

.masthead {
	max-height: 30rem;
	position: relative;
	display: table;
	width: 100%;
	height: auto;
	padding-top: 20%;
	padding-bottom: 10%;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
}
@media (min-width: 992px) {
	.masthead {
		height: 100vh;
	}
	.masthead h1 {
		font-size: 5.5rem;
	}
}

.text-white {
	color: #fff !important;
}
.text-left {
	text-align: left !important;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.container h3 {
	font-weight: lighter;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
.container h3 {
	font-family: monospace;
	font-weight: 100;
}