html {
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.15;
}

body {
	margin: 0;
	background-color: #d9d9d9 !important;
}

#logo-header {
	height: 50px;
	width: 100px;
}

.nav-top {
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
	line-height: 3 !important;
	padding-bottom: 20px;
}

.nav-padding {
	padding: 8px 16px 8px 8px !important;
}

#logo {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

#logo:hover {
	color: #000 !important;
	background-color: purple !important;
}

.bg-purp {
	background-image: url('https://foureyes-web.s3.us-east-2.amazonaws.com/assets/img/laptop-stock-purple.png');
	opacity: 90%;
}

.masthead {
	max-height: 30rem;
	position: relative;
	display: table;
	width: 100%;
	height: auto;
	padding-top: 20%;
	padding-bottom: 10%;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
}

@media (min-width: 992px) {
	.masthead {
		height: 100vh;
	}

	.masthead h1 {
		font-size: 5.5rem;
	}
}

.text-white {
	color: #fff !important;
}

.text-left {
	text-align: left !important;
}

.intro-container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.intro-container h3 {
	font-family: Hack, 'sans-serif' !important;
	font-weight: 100 !important;
}

@media (min-width: 576px) {
	.intro-container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.intro-container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.intro-container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.intro-container {
		max-width: 1140px;
	}
}

.parallax {
	background-image: url('https://foureyes-web.s3.us-east-2.amazonaws.com/assets/img/logoResize.png');
	background-color: #1d1723;
	min-height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
}

.imagine {
	padding-top: 60px;
	padding-bottom: 60px;
}

.slogan {
	color: #1d1723;
	font-weight: 200;
	font-family: 'Lato';
}

.img-background {
	background-color: #d9d9d9;
}

.purp-foot {
	background-color: #1d1723;
	color: #d9d9d9;
}
.content-4i {
	height: 25%;
	line-height: 2;
}
